# Ignorar la carpeta node_modules
/node_modules
/dist
package-lock.json

# Ignorar archivos de configuración
#config.json
#secrets.env

# Ignorar archivos temporales
*.tmp
*.log

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db